@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
  font-size: 45px;
  margin-top: 13px;
  font-weight: 700;
  margin-bottom: 13px;
  font-family: sans-serif;
}

.header-class {
  height: 87px;
  width: 1518px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-left: 12px;
}

.nav-link {
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  align-content: center;
  margin-right: 12px;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.nav-link-active {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  align-content: center;
  margin-right: 20px;
  margin-left: 10px;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #171717;
  color: aqua;
}

.nav-link-active:hover {
  background-color: #171717;
  color: aqua;
}

.div-class {
  margin-left: 950px;
  display: flex;
  flex-direction: row;
  margin-top: -30px;
}

.form-class {
  display: flex;
  flex-direction: column;
  height: 420px;
  width: 510px;
  border-radius: 10px;
  margin-left: 508px;
  box-shadow: 1px 2px 4px black;
  background-color: rgb(246, 245, 243);
  margin-top: 40px;
}

.label-class {
  margin-left: 18px;
  font-size: 21px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: -8px;
}

.login-btn {
  margin-left: 18px;
  height: 55px;
  width: 150px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  align-content: center;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  margin-top: 60px;
  cursor: pointer;
}

.input-class {
  height: 45px;
  width: 470px;
  border-color: rgb(0, 0, 0);
  border-width: 3px;
  border-radius: 8px;
  margin-left: 18px;
  margin-top: 15px;
  padding-left: 13px;
  font-size: 21px;
  outline: none;
}

.input-class:focus {
  border-color: rgb(2, 149, 253);
  border-width: 4px;
}

.reg-btn {
  margin-left: 18px;
  height: 55px;
  width: 155px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  align-content: center;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 14px;
  cursor: pointer;
}

.reg-btn:hover {
  background-color: #171717;
}

.login-btn:hover {
  background-color: #171717;
}

.errors {
  font-size: 15px;
  color: red;
  margin-left: 22px;
  margin-bottom: -15px;
}

.post-btn {
  margin-left: 18px;
  height: 55px;
  width: 155px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  align-content: center;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 14px;
  cursor: pointer;
}

.post-btn:hover {
  background-color: #171717;
}

.text-class {
  height: 220px;
  width: 360px;
  border-color: rgb(3, 123, 159);
  border-width: 1px;
  border-radius: 8px;
  margin-left: 15px;
  margin-top: 15px;
  padding-left: 13px;
  padding-top: 6px;
}

.border-class {
  height: 350px;
  width: 570px;
  border-color: rgb(0, 0, 0);
  border-radius: 13px;
  border-width: 2px;
  margin-left: 40px;
  box-shadow: 2px 3px 4px black;
  margin-top: 30px;
  padding-left: 15px;
  padding-top: 10px;
  color: #ffffff;
  background-color: rgb(0, 21, 45);
}

.grid-class {
  display: grid;
  border-spacing: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.post-title {
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: 700;
}

.content-class {
  font-size: 27px;
  color: rgb(255, 255, 255);
  font-family: serif;
  font-style: italic;
}

.date-class {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 27px;
}

.login-icon {
  margin-left: 810px;
  margin-top: -80px;
}

.account-icon {
  margin-left: 953px;
  margin-top: -83px;
}

.submit-btn {
  margin-left: 18px;
  height: 55px;
  width: 155px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  align-content: center;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 14px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #171717;
}

.contact-form {
  display: flex;
  flex-direction: column;
  height: 490px;
  width: 510px;
  border-radius: 10px;
  margin-left: 508px;
  box-shadow: 1px 3px 4px black;
  background-color: rgb(246, 245, 243);
  margin-top: 20px;
}

.message-body {
  height: 120px;
  width: 470px;
  border-color: rgb(0, 0, 0);
  border-width: 3px;
  border-radius: 8px;
  margin-left: 18px;
  margin-top: 15px;
  padding-left: 13px;
  font-size: 21px;
  outline: none;
}

.message-body:focus {
  border-color: rgb(2, 149, 253);
  border-width: 4px;
}

.fon-icon {
  margin-left: 860px;
  margin-top: -75px;
}

.logout-btn {
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: -15px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  align-content: center;
  margin-right: 12px;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #171717;
  color: aqua;
}

.delete-btn {
  font-size: 30px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  background-color: red;
  width: 100px;
  height: 50px;
}

.post_title {
  font-size: 25px;
  font-weight: 600;
  color: black;
  padding-left: 40px;
}
